<div class="container">
<div class="row justify-content-center">
   <div class="col-4">
<h1 class= "justify-content-center container"> Stupid coach </h1>

<form action="/answer" data-turbo="false">
  <input class=".form-text form-control" type="text" name="question">
  <input class="d-inline-flex p-2 bd-highlight" type="submit" value="Ask!">
</form>
  </div>
</div>
</div>
